<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Surveys</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/static/favicon.png">
    <link rel="apple-touch-icon" href="/static/favicon.png">
    <meta name="theme-color" content="#050E1F">
</head>
<body>
    <h1>My Published Surveys</h1>

    <a href="/publish">➕ Create New Survey</a>
    <hr>

    {% if surveys %}
        <ul>
            {% for s in surveys %}
                <li>
                    <strong>{{ s.title }}</strong>
                    — {{ s.category }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You haven’t published any surveys yet.</p>
    {% endif %}

    <br>
    <a href="/choice">⬅ Back</a>
</body>
</html>
